{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
{% endblock %}


{% block body %}
{{ parent() }}

<h3>Vue de toutes les listes</h3>
    <div class="container">
        {% for list in listes %}
            <div class="row mt-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="background-color: {{ list.color }}">
                        <h5 class="card-title">{{ list.name }}</h5>
                    </div>
                </div>
                <a href="/toDoList/read/{{ list.id }}" class="card-link btn btn-primary">Voir en détail</a>
            </div>
        {% endfor %}
    </div>

<a href="/">Retour</a>
{% endblock %}