{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }}
{% endblock %}


{% block body %}
{{ parent() }}

<h3>Vue de la liste</h3>
    <div class="container">
        <div class="card" style="width: 18rem; background-color: {{ liste.color }}">
            <div class="card-body">
                <h5 class="card-title me-2">{{ liste.name }}</h5>
            </div>
        </div><br>
            <a href="/toDoList/delete/{{ liste.id }}" class="card-link btn btn-danger">supprimer la liste</a>
            <a href="/toDoList/update/{{ liste.id }}" class="card-link btn btn-success">modifier la liste</a>
            <a href="/task/createTask/{{ liste.id }}" class="card-link btn btn-primary">Ajouter une tâche</a>
            <a href="/task/updateTask/{{ liste.id }}" class="card-link btn btn-warning">Modifier une tâche</a>                        
    </div>

<a href="/">Retour</a>
{% endblock %}